{
    "qq.com": "v.qq",
    "youku.com": "youku",
    "tudou.com": "tudou",
    "iqiyi.com": "iqiyi",
    "pps.tv": "iqiyi",
    "zoomin.tv": "zoomin.tv",
    "cctv": "share.cctv",
    "cntv.cn": "share.cctv",
    "bilibili": "bilibili",
    "open.163": "open.163",
    "v.163.com": "open.163",
    "ted.com": "ted",
    "yizhibo.com": "yizhibo",
    "weibo.com/tv/l/": "yizhibo",
    "weibo.com": "weibo",
    "weibo.cn": "weibo",
    "sina.com": "sina",
    "ku6.com": "ku6",
    "miomio.tv": "miomio",
    "pptv.com": "pptv",
    "sohu.com": "sohu",
    "56.com": "56",
    "mgtv.com": "mgtv",
    "acfun": "acfun",
    "miaopai.com": "miaopai",
    "ifeng.com": "ifeng",
    "chinanews.com": "chinanews",
    "toutiao.com": "toutiao",
    "365yg.com": "toutiao",
    "kankanews.com": "kankanews",
    "facebook.com": "facebook",
    "instagram.com": "instagram",
    "vimeopro.com": "vimeo",
    "vimeo.com": "vimeo",
    "twitter.com": "twitter",
    "autohome.com": "autohome",
    "1905.com": "1905",
    "le.com": "le",
    "cztv.com": "cztv",
    "meipai.com": "meipai"
}